{% extends 'base.html.twig' %}

{% block title %}Ajout produit{% endblock %}

{% block body %}
<h1>Ajouter un produit</h1>
Le produit a été avec succés...<br> 
nom : {{ name }} <br>
prix : {{ price }}<br>
Quantité : {{ quantite }}
{% endblock %}
