{% extends "base.html.twig" %}
{% block body %}
<h1> Bienvenue sur notre plateforme</h1>
{{ dump(route)}}
La route de cette page est : {{ route }}
<img src="{{ asset('images/esprims.jpeg') }}" alt="Symfony!"/>


{% endblock %}